services:
  backend:
    build:
      context: .
      dockerfile: ./apps/http-backend/Dockerfile
      args:
        DATABASE_NEON_URL: ${DATABASE_NEON_URL}
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_NEON_URL}
      REDIS_URL: ${REDIS_URL}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    depends_on:
      redis:
        condition: service_started
    networks:
      - livepoll-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - livepoll-network

volumes:
  redis-data:

networks:
  livepoll-network:
    driver: bridge